.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Java
out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
lombok
bin/
.settings
.classpath
.project